.radiobutton {
    @include comp-tf-sc;

    .radiobutton__wrapper {
        width: auto;
        float: right;
        padding: 0 16px;
        box-sizing: border-box;

        .radiobutton-col {
            float: left;
            //background-color: green;
            box-sizing: border-box;
        }

        .horizontal {
            float: left;
        }

    }
}

.radio-group {

    padding-left: 24px;
    margin: 24px 8px;

    input[type=radio] {
        display: none;

        &:not(:checked)+label::before {
            @include radio-structure(#333);
        }

        &:checked+label {
            &::before {
                @include radio-structure(#2196F3);
            }

            &::after {
                @include radio-structure(#2196F3);

                background-color: #2196F3;
                -webkit-transform: scale(0.4);
                -ms-transform: scale(0.4);
                transform: scale(0.4);
                animation: fade-in .5s;
            }
        }
    }

    label {
        cursor: pointer;
        position: relative;
        padding-left: 25px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}