.button {
  float: right;
  min-width: 64px;
  height: 48px;
  min-height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  letter-spacing: 1pt;
  background-color: #448AFF;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.button .button__container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.button .button__container .button-label {
  display: table;
  min-width: 64px;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  line-height: 48px;
  text-transform: uppercase;
  color: #FFF;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.int-grid {
  width: auto;
  height: auto;
}
.int-grid .income-grid_container {
  display: grid;
  grid-template-rows: 48px [Line1] 48px [Line2] auto [Line3] auto [Line4] auto [Line5] auto [Line6] auto [Line7] auto [Line8] auto [Line9] auto [Line10] auto [Line11] auto [Line12] auto [Line13] auto [Line14] auto [Line15] auto [Line16] auto [Line17] auto [Line18] auto [Line19] auto [Line20] auto [Line21] auto [Line22] auto [Line23] auto [Line24] auto [Line25] auto [Line26] auto [Line27] auto [Line28] auto [Line29] auto [Line30] auto [Line31] auto [Line32] auto [Line33] auto [Line34] auto [Line35] auto [Line36] auto [Line37] auto [Line38] auto [Line39] auto [Line40] auto [Line41] auto [Line42] auto [Line43] auto [Line44] auto [Line45] auto [Line46] auto [Line47] auto [Line48] auto [Line49] auto [Line50] auto [Line5] auto [Line52] auto [Line53] auto [Line54] auto [Line55] auto [Line56] auto [Line57] auto [Line58] auto [Line59] auto [Line60] auto [Line61] auto [Line62] auto [Line63] auto [Line64] auto [Line65] auto [Line66] auto [Line67] auto [Line68];
  grid-template-columns: repeat(19, 1fr);
  grid-gap: 0px;
  min-width: 1024px;
  margin-bottom: 21;
}

/*
@include grid_builder();

.wrapper {
  width: max-content;
  height: 100%;
  background-color: #FFF;
  box-sizing: border-box;
}
*/
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font: 12pt;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.report .subpage {
  margin: 15mm;
  padding: 8px;
  height: auto;
}
.report .subpage .head_report {
  width: 100%;
  height: auto;
  padding: 8px;
  text-align: center;
  background-color: #008DC9;
}
.report .subpage .head_report .logo_h {
  content: url("https://beckolsystem.com/form_pdf/img/IPPF_logo_web.png");
}
.report .subpage .report_details {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 100px 0 50px 0;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 600;
}
.report .subpage .report_details_content {
  width: 100%;
  height: auto;
  padding: 21px 21px 8px 0;
}
.report .subpage .report_details_content .report_details_content-child {
  float: left;
  width: 50%;
  height: auto;
  font-size: 1em;
  white-space: pre;
  letter-spacing: 1px;
}
.report .subpage .report_details_content .report_details_content-child label {
  font-weight: 600;
  line-height: 48px;
}
.report .subpage .questions_answers {
  clear: both;
  width: 100%;
  height: auto;
  padding: 4px 0;
}
.report .subpage .questions_answers .questions {
  width: 100%;
  height: auto;
  min-height: 48px;
  padding: 8px;
  text-align: left;
  font-size: 1em;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #60BE94;
}
.report .subpage .questions_answers .answers {
  width: 100%;
  height: auto;
  padding: 4px 0;
  text-align: justify;
  font-size: 1em;
  color: #333;
  letter-spacing: 1px;
}
.report .subpage .title_h2 {
  clear: both;
  width: 100%;
  height: auto;
  text-align: left;
  margin-top: 48px;
  padding: 8px 4px;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 600;
  color: #FFF;
  background-color: #60BE94;
}
.report .subpage .title_h3 {
  clear: both;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 48px 0 8px 0;
  font-size: 2em;
  letter-spacing: 2px;
  margin: 50px 0 21px 0;
  text-transform: uppercase;
  font-weight: 600;
}
.report .subpage .questions {
  clear: both;
  width: 100%;
  height: auto;
  min-height: 48px;
  margin: 21px 0 21px 0;
  padding: 8px;
  text-align: left;
  font-size: 1em;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #60BE94;
}
.report .subpage .answers {
  clear: both;
  width: 100%;
  height: auto;
  padding: 4px 0;
  text-align: justify;
  font-size: 1em;
  color: #333;
  letter-spacing: 1px;
}
.report .project_title {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 21px 0 8px 0;
  font-size: 1.5em;
  font-weight: 600;
}
.report .content_grl {
  clear: both;
  padding: 21px 0;
}
.report .content_grl table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 21px;
  box-sizing: content-box;
}
.report .content_grl table th,
.report .content_grl table td {
  min-width: 100px;
  padding: 16px 8px;
  font-size: 0.9em;
  letter-spacing: 1px;
  border-bottom: 1px solid #ddd;
}
.report .content_grl table .c_total {
  min-width: 100px;
}
.report .content_grl table .notes {
  width: 150px;
}
.report .content_grl .content_grl_line-t {
  width: 100%;
  height: auto;
}
.report .content_grl .content_grl_line-t .content_grl_line_child-t {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 21px 0 8px 8px;
  font-size: 1.2em;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
}
.report .content_grl .content_grl_line {
  clear: both;
  width: 100%;
  height: auto;
  border-bottom: 0.5px solid #ccc;
}
.report .content_grl .content_grl_line .content_grl_line_child {
  width: 100%;
  height: auto;
  min-height: 48px;
  text-align: left;
  padding: 21px 0 8px 8px;
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
  color: #333;
  letter-spacing: 1px;
  font-weight: 400;
}
.report .content_grl .content_grl_line-nl {
  clear: both;
  width: 100%;
  height: auto;
}
.report .content_grl .content_grl_line-nl .content_grl_line_child {
  width: 100%;
  height: auto;
  min-height: 48px;
  text-align: left;
  padding: 21px 0 8px 8px;
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
  color: #333;
  letter-spacing: 1px;
  font-weight: 400;
}
.report .content_grl .content_grl_two-line-t {
  height: auto;
}
.report .content_grl .content_grl_two-line-t .content_grl_two-line_child-t {
  float: left;
  height: auto;
  text-align: left;
  padding: 21px 0 8px 8px;
  font-size: 1.2em;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #CCC;
}
.report .content_grl .content_grl_two-line-t .content_grl_two-line_child-t label {
  font-weight: 600;
  line-height: 48px;
}
.report .content_grl .content_grl_two-line {
  clear: both;
  height: auto;
  border-bottom: 0.5px solid #ccc;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child-t {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 21px 0 8px 8px;
  font-size: 1.2em;
  letter-spacing: 1px;
  color: #333;
  font-weight: 600;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child-t label {
  font-weight: 600;
  line-height: 48px;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child {
  float: left;
  height: auto;
  min-height: 48px;
  padding: 21px 8px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child label {
  font-weight: 600;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .m_rows {
  float: left;
  width: 100%;
  min-height: 48px;
  padding: 4px 0;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .m_rows .m_rows-chips {
  float: left;
  width: auto;
  height: auto;
  padding-right: 4px;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .m_rows-b {
  float: left;
  width: 100%;
  min-height: 48px;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .projet_reriod {
  width: 100%;
  height: auto;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .projet_reriod .projet_reriod-date {
  float: left;
  width: 50%;
  height: auto;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .projet_reriod .projet_reriod-date .projet_reriod-date-title {
  width: 100%;
  height: auto;
  color: #FFF;
  text-align: left;
  padding: 21px 0 8px 8px;
  font-size: 1.2em;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #60BE94;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .projet_reriod .projet_reriod-date .projet_reriod-date-data {
  width: 100%;
  height: auto;
  padding: 8px;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .projet_reriod .projet_reriod-description {
  float: left;
  width: 50%;
  height: auto;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .projet_reriod .projet_reriod-description .projet_reriod-description-title {
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  color: #FFF;
  text-align: left;
  padding: 21px 0 8px 8px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #60BE94;
}
.report .content_grl .content_grl_two-line .content_grl_two-line_child .projet_reriod .projet_reriod-description .projet_reriod-description-data {
  padding: 8px;
  width: 100%;
  height: auto;
}
.report .w05 {
  width: 5%;
}
.report .w10 {
  width: 10%;
}
.report .w20 {
  width: 20%;
}
.report .w30 {
  width: 30%;
}
.report .w40 {
  width: 40%;
}
.report .w50 {
  width: 50%;
}
.report .w60 {
  width: 60%;
}
.report .w70 {
  width: 70%;
}
.report .w80 {
  width: 80%;
}
.report .w90 {
  width: 90%;
}
.report .w100 {
  width: 100%;
}
.report .fa_l {
  text-align: left;
}
.report .fa_c {
  text-align: center;
}
.report .fa_r {
  text-align: right;
}
.report .fa_j {
  text-align: justify;
}

[data-button] {
  position: fixed;
  top: 0.2in;
  left: 0.125in;
}

@media print {
  html {
    margin: 0;
    padding: 0;
    background: #fff;
  }

  body {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }

  [data-button] {
    display: none;
  }

  .report .subpage .head_report {
    background-color: #FFF;
  }
  .report .subpage .head_report .logo_h {
    content: url("https://beckolsystem.com/form_pdf/img/IPPF_logo_print.png");
  }
  .report .subpage .questions_answers .questions {
    padding: 0;
    color: #000;
    min-height: 48px;
    background-color: #FFF;
  }
  .report .subpage .title_h2 {
    text-transform: uppercase;
    color: #000;
    background-color: #FFF;
  }
  .report .subpage .title_h3 {
    page-break-before: always;
  }
  .report .subpage .questions {
    text-transform: uppercase;
    padding: 0;
    color: #000;
    min-height: 48px;
    background-color: #FFF;
  }
  .report .content_grl .content_grl_line-t .content_grl_line_child-t {
    text-transform: uppercase;
    color: #333;
    background-color: #FFF;
  }
  .report .content_grl .content_grl_two-line-t .content_grl_two-line_child-t {
    text-transform: uppercase;
    color: #333;
    background-color: #FFF;
  }
  .report .content_grl .content_grl_two-line .content_grl_two-line_child .projet_reriod .projet_reriod-date .projet_reriod-date-title {
    text-transform: uppercase;
    color: #333;
    background-color: #FFF;
  }
  .report .content_grl .content_grl_two-line .content_grl_two-line_child .projet_reriod .projet_reriod-description .projet_reriod-description-title {
    text-transform: uppercase;
    color: #333;
    background-color: #FFF;
  }

  :not(nav) > [href]:not([href^="#"]):after {
    content: " (" attr(href) ") ";
  }

  table {
    width: 100%;
    margin: 0;
  }

  tr {
    page-break-inside: avoid;
    /* Prevents rows from breaking */
  }

  td {
    font-size: 6pt;
  }

  @page {
    size: A4 portrait;
    margin: 20mm auto;
  }
  .content_grl {
    page-break-inside: auto;
  }
  .content_grl div {
    page-break-before: avoid;
    page-break-after: auto;
  }
}

/*# sourceMappingURL=style.css.map */
