$field-margin: (0px 0px 12px 0px);
$comp-border: #B1B1B1;
$radius: 4px;
$color-typ-dark: #333;
$color-typ-sl: #000000;
$color_black: #000;
$color_white: #FFF;

$gi_rows_length: 68;
$ge_rows_length: 16;

// Buttons
$buttons: true !default;